.button,
%button {
  padding: 1.25rem 2rem;
  background: $primary-color;
  color: $white;
  border: none;
  cursor: pointer;
  min-width: 150px;
  text-align: center;
  transition: box-shadow 0.2s ease-in-out;
  font-weight: $medium;
  margin-top: 1.5rem;
  &:hover {
    // background: $primary-color-dark;
    box-shadow: 0 3px 20px rgba(59, 67, 191, 0.671);
  }
  &:active {
    opacity: 0.5;
  }
  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &--round {
    @extend %round;
  }
  &--pill {
    border-radius: 2.5rem;
  }
  &--secondary {
    background: $secondary-color;
    &:hover {
      background: $secondary-color-dark;
    }
  }
  &--accent {
    background: $accent-color;
    &:hover {
      background: $accent-color-dark;
    }
  }
}
