// Content.
.content {
  $self: &;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  grid-template-areas:
    "illustration"
    "content";
  text-align: center;
  @include tablet {
    text-align: left;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "illustration content";
    align-items: center;
  }
  &__image {
    display: block;
    max-width: 275px;
    margin: auto;
    @include laptop {
      margin: unset;
    }
  }
  &__title {
    @extend %h3;
    font-weight: $semi-bold;
    position: relative;
    @include themed {
      color: theme("text");
    }
  }
  &__illustration {
    grid-area: illustration;
  }
  &__content {
    grid-area: content;
  }
  &--reverse {
    @include tablet {
      grid-template-areas: "content illustration";
      #{$self}__image {
        margin-left: auto;
      }
    }
  }
}
