// Form.
.form {
  &--sent {
    display: grid;
    justify-content: center;
    align-items: flex-start;
  }
  &__input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border: unset;
    padding: 1rem;
    background: #f1f7ff;
    &::placeholder {
      color: rgb(99, 99, 99);
    }
    &--text {
      margin-bottom: unset;
    }
  }
  &__notification {
    font-weight: $bold;
    text-align: center;
  }
}
