// Form.
.form {
  &--sent {
    display: grid;
    justify-content: center;
    align-items: flex-start;
  }
  &__input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border: unset;
    padding: 1rem;
    @include themed {
      background: theme("background-accent");
    }
    &::placeholder {
      @include themed {
        color: theme("text");
      }
    }
    &--text {
      margin-bottom: unset;
    }
  }
  &__notification {
    font-weight: $bold;
    text-align: center;
  }
}
