.introduction {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: space-between;
  grid-gap: 4rem;
  min-height: 600px;
  padding: calc(3rem + 60px) 0 4rem 0;
  text-align: center;
  @include laptop {
    padding: unset;
    text-align: left;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
  }

  &__content {
    margin: auto;
    font-size: 1.15rem;
    @include laptop {
      margin: unset;
      max-width: 90%;
    }
  }
  &__title,
  &__text {
    padding-bottom: unset;
    @include themed {
      color: theme($text);
    }
  }
  &__title {
    font-weight: $bold;
    padding-bottom: 1.5rem;
    line-height: 1.5;
  }

  &__illustration {
    display: block;
    margin-left: auto;
    animation: float 3s alternate infinite ease-in-out;
  }
}
