// Introduction.
.introduction {
  &__layout {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: space-between;
    grid-gap: 4rem;
    min-height: 600px;
    padding: 5rem 0;
    text-align: center;
    @include laptop {
      text-align: left;
      height: 100vh;
      grid-template-columns: 1fr 1fr;
    }
  }
  &__content {
    max-width: 80%;
    margin: auto;
    font-size: 1.15rem;
    @include tablet {
      margin: unset;
      max-width: 90%;
    }
  }
  &__title,
  &__text {
    color: $dark-text;
    padding-bottom: unset;
  }
  &__title {
    font-weight: $bold;
    padding-bottom: 1rem;
  }

  &__illustration {
    display: block;
    margin-left: auto;
    animation: float 3s alternate infinite ease-in-out;
  }
}
