// Logo.
.logo {
  font-weight: $semi-bold;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  &__text {
    pointer-events: none;
    &--light {
      color: $primary-color;
    }
    &--dark {
      @include themed {
        color: theme($text);
      }
    }
  }
}
