// Pills.
$padding: 0.5rem;
$margin: 0.25rem;

.pills {
  display: inline-block;
  padding-top: 0.75rem;
}

// Pill.
.pill {
  display: inline-block;
  padding: $padding;
  margin: $margin;
  margin-left: unset;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  color: $primary-color !important; // sass-lint:disable-line no-important Fixes a strange specificity issue.
  line-height: initial;
  @include themed {
    background: theme($background-accent);
  }
}
