// Socials.
.socials {
  $dimensions: 20px;
  display: grid;
  grid-template-columns: repeat(2, $dimensions);
  grid-gap: 1rem;
  justify-content: center;
  &__icon {
    @extend %hover;
    width: 20px;
  }
}
