// Footer.
.footer {
  text-align: center;
  padding: 2.5rem 0;
  @include themed {
    background: theme("background-accent");
  }
  @include tablet {
    text-align: left;
  }
  &__layout {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2rem;
    @include tablet {
      grid-template-columns: auto auto;
      align-items: center;
      justify-content: space-between;
    }
  }
}
