// Footer.
.footer {
  background: #f1f7ff;
  text-align: center;
  padding: 2.5rem 0;
  @include tablet {
    text-align: left;
  }
  @include laptop {
    padding: 5rem 0;
  }
  &__layout {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2rem;
    @include tablet {
      grid-template-columns: auto auto;
      align-items: center;
      justify-content: space-between;
    }
  }
}
