.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 0.75rem 0;
  // backdrop-filter: blur(0.25rem);
  @include themed {
    background: transparentize(theme($background), 0.1);
    border-bottom: 1px solid theme($border);
  }
  @include laptop {
    padding: 0.35rem 0;
  }
  &__layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include laptop {
      flex-wrap: nowrap;
    }
  }
  &__button {
    @extend %round;
    align-items: flex-end;
    padding: 0.75rem 1.25rem;
    min-width: unset;
    margin-left: auto;
    margin-top: unset;
    &--small {
      margin-top: 0.5rem;
      width: 100%;
      @include laptop {
        display: none;
      }
    }
    &--large {
      display: none;

      @include laptop {
        display: initial;
      }
    }
  }
  &__item {
    &--toggle {
      text-align: right;
      @include laptop {
        text-align: center;
        display: none;
      }
    }
    &--right {
      text-align: right;
      display: none;
      @include laptop {
        display: initial;
      }
    }
    &--left,
    &--right {
      @include laptop {
        flex-basis: 30%;
      }
    }
  }
}

.navigation {
  display: none;
  flex-basis: 100%;
  padding-top: 1rem;
  @include laptop {
    flex-basis: unset;
    padding: unset;
    display: initial;
  }
  &--open {
    display: initial;
  }
  &__list {
    @include laptop {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__icon {
    width: 12.5px;
    display: block;
    margin-left: 0.5rem;
  }
  &__item {
    padding: 0.5rem 0;
    @include laptop {
      margin: 0 2rem;
    }
    @include desktop {
      margin: 0 3rem;
    }
    &:first-of-type {
      margin-left: unset;
    }
    &:last-of-type {
      margin-right: unset;
    }
  }
  &__link {
    @extend %hover;
    font-weight: $medium;
    @include themed {
      color: theme($text);
    }
    &--active {
      font-weight: $bold;
    }
    &--icon {
      display: flex;
      align-items: center;
    }
  }
}

.underlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $black;
  z-index: 4;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  &--open {
    opacity: 0.85;
    pointer-events: initial;
  }
}
