// // Header.
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid $border;
  background: rgba(255, 255, 255, 0.95);
  z-index: 5;
  padding: 0.75rem 0;
  @include tablet {
    padding: 0.35rem 0;
  }
  &__layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include laptop {
      flex-wrap: nowrap;
    }
  }
  &__button {
    @extend %round;
    align-items: flex-end;
    padding: 0.75rem 1.25rem;
    min-width: unset;
    margin-left: auto;
    margin-top: unset;
    &--small {
      margin-top: 0.5rem;
      width: 100%;
      @include tablet {
        display: none;
      }
    }
    &--large {
      display: none;

      @include tablet {
        display: initial;
      }
    }
  }
  &__item {
    &--toggle {
      text-align: right;
      @include tablet {
        text-align: center;
        display: none;
      }
    }
    &--right {
      text-align: right;
      display: none;
      @include tablet {
        display: initial;
      }
    }
    &--left,
    &--right {
      @include tablet {
        flex-basis: 30%;
      }
    }
  }
}

// Navigation.
.navigation {
  display: none;
  flex-basis: 100%;
  padding-top: 1rem;
  @include tablet {
    flex-basis: unset;
    padding: unset;
    display: initial;
  }
  &--open {
    display: initial;
  }
  &__list {
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__item {
    padding: 0.5rem 0;
    @include tablet {
      margin: 0 1rem;
    }
    @include laptop {
      margin: 0 2rem;
    }
    @include desktop {
      margin: 0 3rem;
    }
    &:first-of-type {
      margin-left: unset;
    }
    &:last-of-type {
      margin-right: unset;
    }
  }
  &__link {
    @extend %hover;
    color: $dark-text;
    font-weight: $medium;
    &--active {
      font-weight: $bold;
    }
    &--featured {
      @include tablet {
        color: $primary-color;
        background: $white;
        padding: 0.5rem 2rem;
      }
    }
  }
}
