// Section.
.section {
  $self: &;
  $padding: (
    "mobile": 2rem,
    "tablet": 3rem,
    "laptop": 5rem,
    "desktop": 6rem,
    "retina": 7.5rem
  );

  padding: map-get($padding, "mobile") 0;

  @include tablet {
    padding: map-get($padding, "tablet") 0;
  }

  @include laptop {
    padding: map-get($padding, "laptop") 0;
  }

  @include desktop {
    padding: map-get($padding, "desktop") 0;
  }

  @include retina {
    padding: map-get($padding, "retina") 0;
  }

  &--first {
    padding-top: map-get($padding, "mobile") * 2;

    @include tablet {
      padding-top: map-get($padding, "tablet") * 2;
    }

    @include laptop {
      padding-top: map-get($padding, "laptop") * 2;
    }

    @include desktop {
      padding-top: map-get($padding, "desktop") * 2;
    }

    @include retina {
      padding-top: map-get($padding, "retina") * 2;
    }
  }

  &--last {
    padding-bottom: map-get($padding, "mobile") * 2;

    @include tablet {
      padding-bottom: map-get($padding, "tablet") * 2;
    }

    @include laptop {
      padding-bottom: map-get($padding, "laptop") * 2;
    }

    @include desktop {
      padding-bottom: map-get($padding, "desktop") * 2;
    }

    @include retina {
      padding-bottom: map-get($padding, "retina") * 2;
    }
  }

  &--grey {
    background: $light-background;
  }

  &--blue {
    background: $primary-color-light;
  }

  &--center {
    text-align: center;
  }

  &--no-top {
    padding-top: unset;
  }

  &--no-bottom {
    padding-bottom: unset;
  }

  &__title {
    padding-top: unset;
    padding-bottom: 2rem;
    @include tablet {
      padding-bottom: 3rem;
    }
    @include laptop {
      padding-bottom: 4rem;
    }
    @include desktop {
      padding-bottom: 5rem;
    }
    &--center {
      text-align: center;
    }
  }

  &__text {
    color: $dark-text;
  }
}
