// Skills.
$padding: 0.5rem;
$margin: 0.25rem;

.skillsz {
  display: inline-block;
  padding-bottom: 0.5rem;
  transform: translateX(-#{$margin});
}

.skillz {
  display: inline-block;
  padding: $padding;
  margin: $margin;
  border-radius: 0.25rem;
  background: #f1f7ff;
  font-size: 0.9rem;
  color: $primary-color;
  line-height: initial;
}
